.form{
    border: black solid 1px;
    width: 200px;
    padding: 10px;
}
.label{
        
}
.in{
    margin-top: 5px;
    margin-bottom: 5px;
}
.in input{
    width: 200px;
}
.content{
    width: 200px;
    margin: 0 auto;
}
}
