# Zablokowanie wszystkich plików
<Files *>
    Order Deny,Allow
    Deny from all
</Files>

# Zezwolenie na wykonywanie konkretnych plików
<FilesMatch "^(logout|registerForm|static)\.php$">
    Order Deny,Allow
    Allow from all
</FilesMatch>

<FilesMatch "^(rsaCli)\.js$">
    Order Deny,Allow
    Allow from all
</FilesMatch>