body{
    background-color: #333;
    margin: 0;
    padding: 0;
}

pre{
    white-space: pre-wrap;
    width: 600px;
}
        
a{
    color: #ccc;
}

a:hover{
    color: white;
}

.aCtn{
    color: black;
}

.aCtn:hover{
    color: #793862;
}
    
#banner{
    width: 100%;
    height: 200px;
    background-image: url("banner");
    background-color: #cccccc;
}
    
#menu{
    width: 300px;
    background-color: #793862;
    border-right: 5px solid #ccc;
    border-bottom: 5px solid gray;
    color: #ccc;
    float: left;
}
        
#content{
    background-color: #F2F2F2;
    width: 800px;
    margin-left: 10px;
    float: left;
    padding: 10px;
}
        
#foot{
}
    
.ulMenu{
}

.title{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: gray;
    width: 100%;
}

.text{
}
